global_defs {
    enable_script_security
}

vrrp_script check_haproxy {                 
    script "/keepalived/vrrp_script.sh" 
    weight 20                              
    interval 1      
}

vrrp_instance app {  
    authentication {
        auth_type PASS
        auth_pass PASS
    }           
    interface eth0
    virtual_router_id 140
    {%if inventory_hostname == 'vm-1'%}
    priority 100
    {%else%}
    priority 99
    {%endif%}
    advert_int 1                            
    virtual_ipaddress {
        10.0.0.10/16 
    }
    unicast_peer {                          
        {% if inventory_hostname == 'vm-1' %}
        {{ hostvars['vm-2']['ansible_default_ipv4']['address'] }}
        {% else %}
        {{ hostvars['vm-1']['ansible_default_ipv4']['address'] }}
        {% endif %}
    }
    track_script {
        check_haproxy
    }
}